header{
    background-color:rgb(197, 191, 191);
    height:30%;
    width:100%;
    text-align: center;
    margin:0;
    padding: 10px 10px;

}

body{
    background-color: black;
    margin:0;
    padding: 0;
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right{
   
    background-size: cover;
   align-items: center;
    text-align: center;
    box-shadow:20px 20px 20px rgb(3, 3, 3);
    border-radius: 10px;
    background: linear-gradient(180deg,  rgb(2 23 44) 60%, rgb(10, 28, 68), rgb(6, 6, 32));
    color:antiquewhite;
    
    margin-top: 5px;
    
}

.left{
    
   
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg,  rgb(2 23 44) 60%, rgb(10, 28, 68), rgb(6, 6, 32));
     border-radius:9px;
    box-shadow:20px 25px 25px rgb(10, 10, 10);
    color:rgb(215, 237, 250);
    
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
  
   

}

.right,.left{
    height: 400px;
    width: 460px;
   
}



#profil{
    height: 215px;;
    weidht:auto;
}




.name{
    margin:0;
    padding:0;
    box-shadow:5px 5px 5px rgb(10, 10, 10);
}




#under{
    color:rgb(177, 5, 5);
    font-size: x-large;
}

.insta{
    border-radius:20px;
    margin:10px;
    margin-top:30px;
}
*{
    box-sizing: border-box;
}



  .box{
    display: flex;
    
    flex-wrap: wrap;
    margin: 100px 130px;
    height: 100%;
    
    
  }

  @media(width<=450px){
    .left{
        width: 100%;
        font-weight: 200;
  font-style: italic;
  margin:0;
  padding:0;
  
    }
    .box{
        margin: 0;
        padding:0;
    }
  }